*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.sub__header{
    width: 100%;
    height: 40px;
    background: #939878;

    display: flex;
    align-items: center;
    justify-content: center;
}
.sub__header p{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
}





.navbar{
    width: 100%;
    height: 74px;

    display: flex;
    align-items: center;
    padding: 0 80px;

}
.nav__logo{
    flex: 1;

}
.nav__collection{
    display: flex;
    list-style: none;
    gap: 32px;
    margin-right: 24px;
}
.nav__btn-cart{
    padding: 9px 21px;

    border-radius: 6px;
    border: 1px solid #E7E8E3;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);

}
.nav__btn-find{
    padding: 9px 21px;

    border-radius: 6px;
    border: 1px solid #CF6F49;
    background: #CF6F49;
    color: #fff;
    margin-left: 16px;
}




.banner{
    width: 100%;
    display: flex;
    height: 686px;
    position: relative;

}
.banner__text,
.banner__image{
    width: 50%;
    height: 100%;

}
.banner__image{
    background: url("./img/IMAGE.png") no-repeat center/cover;
}
.banner__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
    gap: 20px;
    align-items: flex-start;
    background: #f5f5f2;
    position: relative;
}
.banner__title{
    color: #2A2C1F;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 67.2px; /* 120% */
}
.banner__header,
.banner__header__two{
    border-radius: 32px;
    background: #E7E8E3;
    padding: 4px 12px;
    display: inline-block;
    font-size: 14px;

}
.banner__desk{
    color: #65665C;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}
.banner__inp{
    width: 310px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #E7E8E3;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    color: #65665C;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    padding-left: 20px;
}
.banner__search{
    display: flex;
    gap: 16px;
}
.banner__btn{
    width: 154px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #CF6F49;
    background: #CF6F49;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    text-align: center;
}
.banner__img{
    position: absolute;
    top: 0;
    left: 0;
}
.banner__img-down{
    position: absolute;
    bottom: 0;
    right: 0;
}





.medium{
    width: 90%;
    height: 118px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.medium p{
    color: #2A2C1F;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}
.medium__logo{
    display: flex;
    gap: 32px;
}






.wrapper{
    margin: auto;
    width: 90%;
    height: 482px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
}
.wrapper h1{
    color: #2A2C1F;
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.6px; /* 120% */
    margin-bottom: 21px;
}
.wrapper p{
    color: #65665C;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    margin-bottom: 64px;
}
.wrapper__box{
    width: 100%;
    height: 291px;
    display: flex;
    gap: 32px;

}
.wrapper__boxx{
    width: 31.4%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    padding-top: 49px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid #E7E8E3;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);

}
.wrapper__boxx img{
    color: #CF6F49;
    text-align: center;
    font-family: Material Icons;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 150% */
}
.wrapper__logo{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FAE8E1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.wrapper__boxx h4{
    color: #2A2C1F;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px; /* 140% */
    margin-bottom: 17px;

}






.kantiner,
.kantiner__two{
    display: flex;
    width: 90%;
    margin: auto;
    height: 600px;
    margin-top: 128px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.kantiner__word{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
    position: relative;


}
.kantiner__img,
.kantiner__photo{
    width: 50%;
    height: 100%;
    background: url("./photo/IMAGE\ \(2\).png") no-repeat center/cover;
    border-radius: 16px;
}
.kantiner__word h1{
    color: #2A2C1F;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.6px; /* 120% */
    margin-top: 12px;
    margin-bottom: 28px;
}
.kantiner__p{
    color: #65665C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    margin-bottom: 34px;
    padding: 4px 12px;


}
.kantiner__btn{
    width: 192px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #E7E8E3;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    color: #2A2C1F;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.kantiner__one{
    display: flex;
    align-items: center;
}
.kantiner__box{
    display: flex;
    width: 130px;
    height: 40px;
    padding: 7.594px 0px 8.406px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    color: #2A2C1F;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.kantiner__box img{
    color: #2A2C1F;
    text-align: center;
    font-family: Material Icons;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 8px;
    margin-left: 5px;
}




.kantiner__two{
}
.kantiner__photo{
    background: url("./photo/IMAGE\ \(3\).png") no-repeat center/cover;
}
.kantiner__two-word{
width: 50%;
height: 100%;

display: flex;
justify-content: center;
flex-direction: column;
}
.banner__header{
 

}
.kantiner__two-word h1{
    color: #2A2C1F;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.6px; /* 120% */
    margin-bottom: 29px;
}
.kantiner__two p{
    color: #65665C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    margin-bottom: 29px;
}
.kantiner__two-box{
    display: flex;
    width: 100%;
    height: 196px;
    padding: px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}
.kantiner__two-box__one{
    width: 47.4%;
    height: 100%;
    flex-shrink: 0;
}
.kantiner__two-box__one img{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FAE8E1;
    color: #CF6F49;
    font-family: Material Icons;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 150% */
}
.kantiner__two-box__one h4{
    color: #2A2C1F;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    margin-top: 15px;
}
.kantiner__two-box__one p{
    color: #65665C;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 10px;
}
.banner__header__two{
    width: 140px;
}